extends parent
block content
    section.section-features

    each course in courses
        .row
          h2.course-name=course.name
          p.long-copy Number of seats for students are 
            u=course.seats 
          a.long-copy.btn.btn-full(href=`/course/${course.slug}`) Course Details 
        .row
          .col.span-1-of-3.span-box
            ion-icon(name='airplane-outline')
            p Course Duration 
            p=course.duration                      
          .col.span-1-of-3.span-box
            ion-icon(name='airplane-outline')
            p    Level 
            p=course.level 
          .col.span-1-of-3.span-box
            ion-icon(name='airplane-outline')
            p  Fee 
            p=course.fee 
          

